h3 {
    text-align: left;
}

#confirm-menu {
    display: flex;
    justify-content: space-between;
}

button {
    font-size: 1.3rem;
}

.option-style {
    display: flex;
    align-items: center;
    justify-content: flex-start !important; 
    flex-wrap: wrap;
}

.options{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.play {
    border-width: 0.15rem !important;
    border-style: solid;
    margin: 0.5em;
    transition-duration: 300ms;
    border-radius: 0.4em;
    width: 40px;
    height: 40px;  
}

.coloroptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
}

.toggle-margin{
    margin-top: 13px;
    margin-bottom: 13px;
}
h3 {
    letter-spacing: 0.2rem;
    font-size: 1.3em;
}

.mat-slider-thumb {
    background-color: #001DBC;
}
