<h3>{{ title }}</h3>
<p>{{ btnTitle }}</p>
<div class="options">
  <div class="option-style">
    <div>
      <!-- Custom Label for button -->
      <mat-form-field appearance="standard">
        <mat-label class="labelsize">Button name</mat-label>
        <input
          matInput
          [disabled]="useTrackTitle"
          [(ngModel)]="customName"
          (change)="onCustomName()"
          [value]="btnTitle"
          placeholder="Enter button name"
        />
      </mat-form-field>
    </div>
    <!-- Button For set File -->
    <div>
      <button
        style="transform: scale(0.75)"
        type="file"
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
      >
        <mat-icon>folder_open</mat-icon>
        <input
          #fileInput
          type="file"
          class="hidden"
          (change)="onFileInput($event)"
          (change)="onCustomName()"
        />
      </button>
    </div>
  </div>
  <div class="toggle-margin">
    <mat-slide-toggle
      color="primary"
      [checked]="useTrackTitle"
      (toggleChange)="useTrackTitle = !useTrackTitle"
      (toggleChange)="onCustomName()"
      >Use track title</mat-slide-toggle
    >
  </div>
  <!-- Audio Test -->
  <!-- <div>
    <audio controls [src]="audioData"></audio>
  </div> -->
  <!-- Volume -->
  <div>
    <mat-slider
      min="0"
      max="100"
      thumbLabel
      aria-label="units"
      [value]="volume"
      [(ngModel)]="volume"
    ></mat-slider>
  </div>
  <!-- trimming -->
  <div>
    <div class="trim-head">
      Trimming
      <mat-icon
        style="margin-left: 4px; color: #454872"
        matTooltip="Trim the song from the start/end in seconds"
        matTooltipPosition="above"
        >info</mat-icon
      >
    </div>
    <div>
      <mat-form-field class="trim-label" appearance="standard">
        <mat-label class="labelsize">Start</mat-label>
        <input matInput [(ngModel)]="trimStart" />
      </mat-form-field>
      <mat-form-field class="trim-label" appearance="standard">
        <mat-label class="labelsize">End</mat-label>
        <input matInput [(ngModel)]="trimEnd" />
      </mat-form-field>
    </div>
  </div>

  <div>
    <mat-button-toggle-group
      class="coloroptions"
      name="fontStyle"
      aria-label="Font Style"
    >
      <mat-button-toggle class="play green" (click)="setColor('green')"
        >1</mat-button-toggle
      >
      <mat-button-toggle class="play yellow" (click)="setColor('yellow')"
        >2</mat-button-toggle
      >
      <mat-button-toggle class="play poo" (click)="setColor('poo')"
        >3</mat-button-toggle
      >
      <mat-button-toggle class="play orange" (click)="setColor('orange')"
        >4</mat-button-toggle
      >
      <mat-button-toggle class="play teal" (click)="setColor('teal')"
        >5</mat-button-toggle
      >
      <mat-button-toggle class="play blue" (click)="setColor('blue')"
        >6</mat-button-toggle
      >
      <mat-button-toggle class="play purple" (click)="setColor('purple')"
        >7</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <!-- In Groups -->
  <div class="toggle-margin">
    <mat-slide-toggle
      color="primary"
      [checked]="inGroup"
      (toggleChange)="inGroup = !inGroup"
      >Color in group</mat-slide-toggle
    >
    <mat-icon
      style="margin-left: 4px; color: #454872"
      matTooltip="If enabled, only one button from selected color can be active"
      matTooltipPosition="above"
      >info</mat-icon
    >
  </div>
  <!-- Loop -->
  <div class="toggle-margin">
    <mat-slide-toggle
      color="primary"
      [checked]="loop"
      (toggleChange)="loop = !loop"
      >Loop</mat-slide-toggle
    >
  </div>

  <div id="confirm-menu">
    <button
      mat-raised-button
      color="primary"
      (click)="onRemove()"
      mat-dialog-close
    >
      Remove
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      mat-dialog-close
    >
      Save
    </button>
  </div>
</div>
