<!-- Side panel - volume control -->
<div class="sidepanel">
  <button mat-icon-button (click)="stopAll()">
    <mat-icon>stop</mat-icon>
  </button>
  <div class="sidepanel-volume">
    <button mat-icon-button (click)="volU()" (click)="setVolume()">
      <mat-icon>volume_up</mat-icon>
    </button>
    <mat-slider
      vertical
      thumbLabel
      aria-label="units"
      min="0"
      max="100"
      [(ngModel)]="value"
      (change)="setVolume()"
    ></mat-slider>
    <button mat-icon-button (click)="volD()" (click)="setVolume()">
      <mat-icon>volume_down</mat-icon>
    </button>
  </div>
</div>
