.sidenav-container {
  position: initial;
  z-index: auto;
}
.mat-toolbar-single-row {
  font-family: Orbitron;
  font-size: 2.3rem;
  letter-spacing: 0.1em;
  background-color: rgba(26, 82, 21, 0.199);
  justify-content: space-between;
}
p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
}
.sidenav {
  width: 150px;
  background-color: #aaa;
}

.sidenav-content {
  background: #8d988c;
}

.sidenav-menu {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.sidenav-menu-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-menu-item {
  width: 100%;
  text-align: start;
  height: 3em;
}

.fadeHint {
  font-size: 0.8rem;
}

::ng-deep .mat-form-field {
  font-size: 1rem;
  width: 80%;
  margin-left: 1em;
}

::ng-deep .mat-toolbar .mat-input-element {
  padding-top: 1rem;
}

.cros {
  margin-top: 4rem;
}
