  <!-- Main toolbar/Header -->
  <mat-toolbar>
    {{title}}
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav-content class="sidenav-content">
        <button mat-icon-button (click)="opened=!opened">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-sidenav-content>
      <mat-sidenav #sidenav class="sidenav" [(opened)]=opened mode="over" position="end" role="navigation">
        <div class="sidenav-menu">
          <h3>Menu</h3>
        </div>
        <div class="sidenav-menu-options">
          <button mat-menu-item>Tutorial</button>
          <button mat-menu-item>Presets</button>
          <button mat-menu-item>Manage Buttons</button>
          <button mat-menu-item>Backup and Restore</button>
          <button mat-menu-item>Support us</button>
          <button mat-menu-item>About</button>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  
  </mat-toolbar>
  