<div class="head">
  <h2>{{ title }}</h2>
  <button mat-stroked-button color="basic" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div style="margin-bottom: 1em">
  <!-- Buttons for fast sort -->
  <button
    mat-icon-button
    color="basic"
    matTooltip="Sort by Name"
    matTooltipPosition="above"
    (click)="name()"
  >
    <mat-icon>sort_by_alpha</mat-icon>
  </button>
  <button
    mat-icon-button
    color="basic"
    matTooltip="Sort by Color"
    matTooltipPosition="above"
    (click)="color()"
  >
    <mat-icon>color_lens</mat-icon>
  </button>
</div>
<div>
  <!-- Colors array to sort -->
  <div class="listColor" cdkDropList (cdkDropListDropped)="dropColor($event)">
    <div class="btn" [ngClass]="color" *ngFor="let color of colors" cdkDrag>
      <div class="placeholder" *cdkDragPlaceholder></div>
      {{ color }}
    </div>
  </div>
  <div class="listBnt" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="btn" *ngFor="let btn of buttons" cdkDrag>
      <div class="placeholder" *cdkDragPlaceholder></div>
      {{ btn.btnTitle }}
    </div>
  </div>
</div>
