.play {
  border-width: 0.15rem;
  border-style: solid;
  height: 6.5rem;
  width: 5rem;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  transition-duration: 300ms;
  border-radius: 0.4em;
  /* new stuff */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.play:hover {
  box-shadow: 0 0.3rem 0.5rem 0.01rem rgba(0, 0, 0, 0.24);
}

.pena {
  margin-top: 5px;
  overflow: hidden;
}
.long {
  font-size: 14px;
}
.longer {
  font-size: 12px;
}
.longest {
  font-size: 10px;
}
.pencho {
  transform: scale(0.84);
  display: inline-flex;
  justify-content: space-between;
  margin-left: -13px;
  margin-right: -13px;
  margin-bottom: -3px;
  opacity: 0.5;
}
