<button
  class="play"
  [ngClass]="class"
  (click)="init()"
  (contextmenu)="openSettings($event)"
>
  <audio
    style="display: none"
    [id]="button.btnID"
    [src]="button.audioData"
  ></audio>
  <!-- Loop and group Icons -->
  <div
    class="pena"
    [ngClass]="{
      long: button.btnTitle.length > 24,
      longer: button.btnTitle.length > 32,
      longest: button.btnTitle.length > 48
    }"
  >
    {{ button.btnTitle }}
  </div>
  <div class="pencho">
    <div>
      <mat-icon *ngIf="button.inGroup">bubble_chart</mat-icon>
    </div>
    <div>
      <mat-icon *ngIf="button.loop">repeat</mat-icon>
    </div>
  </div>
</button>
