<div class="head">
  <h2>{{ title }}</h2>
  <button mat-stroked-button color="basic" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <p style="text-align: justify">
    This application is to help any dungeon master ot make their campaigns even
    more immersive. Easily programable buttons and option to export all settings
    and audio files, gives flexability to use it on any device supporting modern
    browsers (sorry IE).
  </p>
  <p style="text-align: justify">
    This application does not collect any data. Everything you do on it is
    actioned on your device (using browser cache). If you configure too many
    buttons, your device might not be able to store them in memory.&nbsp;
  </p>
  <div class="kurcin">
    <h3>Change Log:</h3>
    <!-- <p>Current version: {{ version }}</p> -->
  </div>
  <p><strong>v0.13:</strong></p>
  <p>Sorting system and FAQ</p>
  <ul>
    <li>FAQ page</li>
    <li>Fixed visual issue with button settings volume bar</li>
    <li>Sorting by name</li>
    <li>Sorting by color</li>
    <li>Drag'n Drop</li>
  </ul>
  <p><strong>v0.12:</strong></p>
  <p style="text-align: justify">
    You can use Google Drive as a storage for your audio. Just make sure you set
    up correct permissions. Backup files are now smaller since audio is stored
    in Drive
  </p>
  <ul>
    <li>Fixed about page height for smaller screens</li>
    <li>Google Drive integration.</li>
  </ul>
  <p><strong>v0.11:</strong></p>
  <ul>
    <li>Fade in and Fade out</li>
    <li>Creating actual versioning and change log</li>
  </ul>
  <p><strong>v0.10:</strong></p>
  <ul>
    <li>Feature release - Backup and restore</li>
  </ul>
  <p><strong>pre v0.10:</strong></p>
  <ul>
    <li>Countless bugs and fixes</li>
    <li>Colour grouping</li>
    <li>Colours for buttons</li>
    <li>Trimming function</li>
    <li>Side panel - master volume and stop all button</li>
    <li>Audio player, audio service for local files</li>
    <li>Button settings and button services</li>
    <li>
      Initial creation of button grid, buttons and all other visuals/styling
    </li>
  </ul>
</mat-dialog-content>
