<div class="head">
  <h2>{{ title }}</h2>
  <button mat-stroked-button color="basic" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div>
    <p style="text-align: justify">
      Currently there are no questions for obvious reasons. If you have any
      issues or have ideas, feel free to open a ticket in GitHub:
      <a href="https://github.com/Diniver/MusicCompanion/issues" target="_blank"
        >https://github.com/Diniver/MusicCompanion/issues</a
      >
    </p>
  </div>
</mat-dialog-content>
