<div id="left-menu"> 
  <button id="btn-menu"></button>
  <button id="btn-stop-all" style="margin-top:2rem ;"></button>
</div>

<h1 id="DMMC">DMMC</h1>

<div id="grid-main">
  <button class="play purple-active">123123 text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more 4125415512</button>
  <button class="play orange">more text</button>
  <button class="play orange">more sdaasdasdasdasasddddddddddddddddddddasdasdtext</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>
  <button class="play poo-active">more text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more 54</button>
  <button class="play orange">more 32423text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>
  <button class="play orange">more text</button>

  <button class="add play"></button>

</div>

<div id="page-menu">
  <div id="page">
    <button class="btn-page-active btn-page">more text</button>
    <button class="btn-page">more text</button>
    <button class="btn-page">more text</button>
    <button class="btn-page">more text</button>
  </div>
</div>