<!--
  ng serve --host 192.168.0.10
  " REMOVE BEFORE DEPLOY, -->

<mat-toolbar>{{title}}
  <div>
    <button mat-icon-button>
      <mat-icon class="menubtn">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="sidepanel">
  <button mat-icon-button>
    
    <mat-icon >stop</mat-icon>
  </button>

  <div class="sidepanel-volume">
    <button mat-icon-button>

      <mat-icon>volume_up</mat-icon>

    </button>
    <mat-slider vertical></mat-slider>
    <button mat-icon-button>
      <mat-icon>volume_down</mat-icon>
    </button>
  </div>
</div>

<div class="grid-main">
  <button class="play purple"> text</button>
  <button class="play poo" (click)="toggleBtn()">more text</button>
  <input type="button" class="play green" (click)="toggleBtn()">
  <button class="play orange">more text</button>
  <button class="add play" (click)="openBtnSettings()"></button>

</div>


<div id="page-menu">
  <div id="page">
    <button class="btn-page-active btn-page"> text</button>
    <button class="btn-page blue">cave</button>
    <button class="btn-page">more text</button>
    <button class="btn-page">more text</button>
  </div>
</div>