<div class="head">
  <h3>Google Drive link</h3>
  <button mat-stroked-button color="basic" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<p>
  Please make sure your audio file has <em>Anyone with the link</em> general
  access
</p>
<div class="field1">
  <mat-form-field appearance="fill">
    <mat-label>Drive URL</mat-label>
    <input matInput [(ngModel)]="urlInput" />
  </mat-form-field>
  <!-- <button mat-stroked-button color="basic">
    <mat-icon> content_paste </mat-icon>
  </button> -->
</div>
<div style="display: flex; justify-content: center">
  <button
    mat-raised-button
    color="primary"
    (click)="urlCheck()"
    cdkFocusInitial
  >
    Confirm
  </button>
</div>
