<div class="head">
  <h3>{{ title }}</h3>
  <button mat-stroked-button color="basic" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <p>
    You can save or restore current configuration from here.
    <br />
    File contains all tracks data and can be large. Please wait.
  </p>
</div>
<div class="buttons">
  <div *ngIf="!check">
    <a
      mat-raised-button
      color="primary"
      mat-dialog-close
      (click)="backup()"
      [href]="download"
      [download]="filename"
      >Backup</a
    >
  </div>

  <div>
    <a mat-raised-button color="primary" (click)="restoreFile.click()">
      Restore
      <input
        #restoreFile
        type="file"
        class="hidden"
        (change)="restore($event)"
        accept=".json"
      />
    </a>
  </div>
</div>
