.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border: none;
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
}
.mat-stroked-button {
  border: none;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
