@font-face {
    font-family: Orbitron;
    src: url(assets/font/Orbitron-VariableFont_wght.ttf);
    font-weight: bold;
}

html,
body {
    font-size: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #aaa;

}

button {
    transition-duration: 300ms;
    border-width: 0;
    border-radius: 0.4em;
}

button:hover {
    box-shadow: 0 0.3rem 0.5rem 0.01rem rgba(0, 0, 0, 0.24);
}

.mat-dialog-container {
    background-color: #aaa;
}

.mat-typography h1 {
    text-align: center;
    font-family: Orbitron;
    letter-spacing: 0.1em;
    font-size: 3rem;
}

.mat-typography h3 {
    font-family: Orbitron;
    letter-spacing: 0.2rem;
    font-size: 1.3em;

}

.mat-toolbar-single-row {
    font-family: Orbitron;
    font-size: 2.3rem;
    letter-spacing: 0.1em;
    background-color: rgba(26, 82, 21, 0.199);
}

.mat-raised-button.mat-primary {
    background-color: #454872;
}